
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: white;
  flex-wrap: wrap;
  position: relative;
}


.navbar-logo img{
  height: 6vh;
  color: white;
}

.navbar-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  /* Align the toggle button to the right */
  position: absolute;
  right: 1rem;
}

.navbar-links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-right: 4rem; 
}

.navbar-links li {
  margin: 0 1rem;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.navbar-links a:hover {
  text-decoration: underline;
}

.dropdown-button {
  background-color: #333;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 100%; 
  left: 0;
  border-radius: 4px;
}

.dropdown-content a {
  color: black;
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown-content.show {
  display: block;
}


@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-links {
    flex-direction: column;
    width: 100%;
    display: none; 
    position: static; 
    margin: 0; 
  }

  .navbar-links.open {
    display: flex; 
  }

  .navbar-links li {
    margin: 0.5rem 0;
  }

  .dropdown-content {
    position: relative;
  }
}
